.header {
  position: fixed;
  width: 100%;
  height: 76px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  background-color: white;
  z-index: 9999;
}
.header a {
  position: relative;
  top: -7px;
  text-decoration: none;
}
.header a p {
  color: black;
}
.header a:last-child {
  top: 0;
}
.header__link {
  display: flex;
  align-items: center;
  height: 76px;
}
.header__logo {
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  justify-items: center;
  font-size: 16px;
}
.header__logo-inner {
  position: absolute;
  top: 10px;
}
.header__left {
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  flex-basis: 10%;
}
.header__right {
  display: flex;
  position: relative;
  margin-right: 105px;
  height: 100%;
  top: 0;
  right: 0;
  flex-direction: row;
  align-items: baseline;
  gap: 30px;
  margin: 0;
}
.header__right p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__right a:nth-child(1)::after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  top: -1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}
.header__right a:nth-child(1):hover::after {
  transform: none;
  transform-origin: center;
}
.header__right a:nth-child(2)::after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  top: -1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}
.header__right a:nth-child(2):hover::after {
  transform: none;
  transform-origin: center;
}
.header__right a:nth-child(3)::after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  top: -1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}
.header__right a:nth-child(3):hover::after {
  transform: none;
  transform-origin: center;
}
.header__right a:nth-child(4)::after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  top: -1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}
.header__right a:nth-child(4):hover::after {
  transform: none;
  transform-origin: center;
}
.header__right a:nth-child(5)::after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  top: -1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}
.header__right a:nth-child(5):hover::after {
  transform: none;
  transform-origin: center;
}
.header__right a:nth-child(6)::after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  top: -1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}
.header__right a:nth-child(6):hover::after {
  transform: none;
  transform-origin: center;
}
.header__right a:nth-child(7)::after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  top: -1px;
  transform: scaleX(0);
  transform-origin: center;
  transition: all 0.3s;
}
.header__right a:nth-child(7):hover::after {
  transform: none;
  transform-origin: center;
}
.header__right a:first-child:hover ~ .nav-service {
  opacity: 1;
  visibility: visible;
}
.header__contact {
  display: flex;
  width: 198px;
  height: 76px;
  align-items: center;
  text-align: center;
  background-color: #282828;
  color: white;
  transition: all 0.28s ease;
}
.header__contact-inner {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.header__contact-img {
  width: 26px;
  height: 26px;
  margin-right: 8px;
  filter: invert(100%);
  transition: all 0.28s ease;
}
.header__contact:hover {
  background-color: white;
  color: black;
}
.header__contact:hover .header__contact-img {
  filter: none;
}
.header .nav-service {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 76px;
  left: -390px;
  width: 100vw;
  height: 56px;
  background-color: #F7FAFC;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.header .nav-service__inner {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 16px;
  letter-spacing: -0.8px;
  font-weight: 600;
  height: 100%;
  padding: 0;
}
.header .nav-service__inner li {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.header .nav-service:hover {
  opacity: 1;
  visibility: visible;
}

.logo {
  display: flex;
  flex-direction: row;
}
.logo__img {
  width: 60px;
  height: 60px;
}
.logo__letter {
  width: 250px;
  height: 100%;
  padding-left: 15px;
  font-weight: 600;
}
.logo__dinii {
  margin: 0;
}
.logo__service {
  margin: 0;
}

body {
  height: 280vh;
}

html {
  font-family: "Noto Sans JP", serif;
  font-weight: 500;
}
html *,
html *::before,
html *::after {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */