.logo {
    display: flex;
    flex-direction: row;

    &__img {
        width: 60px;
        height: 60px;
    }

    &__letter {
        width: 250px;
        height: 100%;
        padding-left: 15px;
        font-weight: 600;
    }

    &__dinii {
        margin: 0;
    }

    &__service {
        margin: 0;
    }
}