$cBG: #282828;
$cBlack: black;
$cWhite: white;
$cGold: #ac8417;
$cBlueGray: #56698f;
$cInterviewSubTitle: #3f4042;
$cBoxShadow: rgba(0, 0, 0, 0.2);
$cConpanyName: #6F7175;
$cNavBG: #F7FAFC;
$cSampleLetter: #D0D4DB;
$cRed: red;
$cIndex: #f2f7ff;
$cKintaiBG: #9601d2;
$cPurpleBG: #f5e7fb;