@use "mixin" as *;
@use "header" as *;
@use "logo" as *;
@use "variables" as *;
@use "move-letter" as *;
@use "interview-slider" as *;

body {
    height: 370vh;
    width: 100vw;
}

html {
    font-family: "Noto Sans JP", serif;
    font-weight: 500;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

.header {
    @extend .header;
}

.hero-slider {
    &__container {
        position: relative;
        margin-top: 75px;
    }

    .slick-list {
        height: 42vw;
    }

    .slick-dots {
        text-align: start;
        margin-left: 20px;
        transform: translateY(-240%);
        width: auto;

        & li {
            margin-right: 15px;

            & button::before {
                color: $cWhite !important;
            }

            & button::after {
                border: 2px solid $cWhite !important;
            }

            &.slick-active button::before {
                color: $cWhite !important;
            }
        }
    }
}

.catch-copy {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: center;
    color: $cGold;
    margin-top: 70px;
    gap: 135px;

    .unit {
        display: flex;
        font-size: 24px;
        font-weight: 700;
    }

    .head {
        font-size: 32px;
        font-weight: 700;
        text-align: center;

        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            background-color: $cGold;
            margin-top: 7px;
        }
    }

    &__left {

        & .unit {
            align-items: flex-end;
            padding-bottom: 20px;
            transform: translateY(-18px);
        }
    }

    &__right {

        & .unit {
            flex-direction: column;
            justify-content: flex-end;
            transform: translateY(-25px);

            & p:last-child {
                transform: translateY(-12px);
            }
        }
    }



    .number {
        font-weight: 600;
        font-size: 96px;
        font-family: "Poppins", serif;
        font-weight: 600;
    }

    .content {
        display: flex;
        flex-direction: row;
        transform: translateY(-12px);
    }
}

.company-slider {
    margin-top: 50px;

    @for $i from 1 through 2 {
        &#{$i} img {
            width: 170px;
            padding: 0 30px;
        }
    }

    & .slick-list {
        height: 150px;
    }
}

.interview {
    @extend .interview;
}

.dot-animation .slick-dots li {
    & button::before {
        color: $cBlack;
        transition: all 0.3s;
        opacity: 1;
    }

    & button::after {
        content: '';
        position: relative;
        display: block;
        top: -7.9px;
        left: -6.8px;
        color: transparent;
        transition: all 0.3s;
        opacity: 0;
        border-radius: 50px;
        width: 24px;
        height: 24px;
        border: 2px solid $cBlack;
        ;
    }

    &.slick-active button::before {
        color: $cBlack;
        font-size: 14px;
        transition: all 0.3s;
        opacity: 1;
    }

    &.slick-active button::after {
        opacity: 1;
    }
}